body
{
    background-image:url(fond.png) ;
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
header
{
    width: 70%;;
    margin: auto;
    
    margin-bottom: 10px;
    position: top;
    border-radius: 10px;
    border: 2px rgb(122, 4, 201) solid;
    background-color: rgb(228, 213, 238);
    text-transform: uppercase;
    padding-top: 3px;
}
#enTete
{
    width: 900px;
    margin: auto;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 5%;
}
nav a
{
    font-size: 1.5em;
    padding-bottom: 3px;
}
nav
{
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px rgb(122, 4, 201) solid;
    background-color: rgb(228, 213, 238);
}
section
{
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px rgb(122, 4, 201) solid;
    background-color: rgb(228, 213, 238);
}
#titreSection
{   
    width: 70%;
    margin: auto;
    background-color: rgb(182, 129, 231);
    border-radius: 5px;
}
#titreSection h1
{
    text-align: center;
}
#corpDeSection
{
    background-color: rgba(171, 111, 250, 0.808);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 1%;
    text-align: center;
}

#graph_body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:  center;
}

#server_answer{
    position: absolute;
    /*background-color: red;*/
}

#graph_border{
    border: solid black 3px;
    background-color:  white;
    height: 1000px;
    width: 800px;
}

#graph_frame{
    /*clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);*/
    clip-path: polygon(0px 0px,800px 0px,800px 1000px,0px 1000px);
    /*background-color: green;*/
    background-color:  white;
    height: 1000px;
    width: 800px;
}



footer
{
    width: 70%;
    margin: auto;
    margin-top: 5px;
    position: bottom;
    border-radius: 10px;
    border: 2px rgb(122, 4, 201) solid;
    background-color: rgb(228, 213, 238);
    text-align: center;
    
}
footer li
{
    list-style-type: none;
}